---
- name: Ensure Redis service user exists
  include_role:
    name: service_user
  vars:
    service_user_name: "{{ redis_user }}"

- name: Ensure Redis config directories exists
  file:
    path: "/etc/redis"
    state: directory
    owner: "{{ redis_user }}"
    group: "{{ redis_group }}"

- name: Build Redis
  command: /nix/var/nix/profiles/default/bin/nix build nixpkgs#redis -o /opt/redis
  args:
    creates: /opt/redis

- name: Create redis.conf
  template:
    src: redis.conf
    dest: /etc/redis/
    mode: "0644"

- name: Configure log service
  include_role:
    name: s6_log
  vars:
    s6_log_service_name: redis

- name: Create s6 run script
  template:
    src: run.j2
    dest: /etc/services.d/redis/run
    mode: "0755"


