---
- name: Ensure service_user_name is provided
  ansible.builtin.assert:
    that:
      - service_user_name is defined
      - service_user_name | length > 0
    fail_msg: "service_user_name must be defined"

- name: Ensure service group exists
  group:
    name: "{{ service_user_group }}"

- name: Ensure service user exists
  user:
    name: "{{ service_user_name }}"
    group: "{{ service_user_group }}"
    shell: /usr/sbin/nologin
    home: "{{ service_user_home }}"

