---
- name: Install caddy package
  ansible.builtin.apt:
    name:
      - caddy

- name: Create s6 service
  include_role:
    name: s6_service
  vars:
    s6_service_name: caddy
    s6_service_command: caddy run --config /etc/caddy/Caddyfile --adapter caddyfile
    s6_service_user_name: "{{ caddy_user }}"

- name: Create caddy directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ caddy_user }}"
    group: "{{ caddy_group }}"
  loop:
    - "/etc/caddy"

- name: Create Caddyfile
  template:
    src: Caddyfile
    dest: /etc/caddy/
    mode: "0644"

