#!/bin/execlineb -P
s6-setuidgid {{ restic_rest_server_user }}
/opt/restic_rest_server/bin/rest-server \
  --listen "127.0.0.1:{{ restic_rest_server_port }}" \
  --log - \
  --path {{ restic_rest_server_data_dir }}
  --htpasswd-file /etc/restic_rest_server/.htpasswd
  --private-repos
  
