---
- name: Ensure s6_log_service_name is provided
  ansible.builtin.assert:
    that:
      - s6_log_service_name is defined
      - s6_log_service_name | length > 0
    fail_msg: "s6_log_service_name is required to configure the log service"

- name: Ensure s6 log directory exists
  ansible.builtin.file:
    path: "{{ s6_log_directory }}"
    state: directory
    mode: "0755"

- name: Create log service run script
  ansible.builtin.template:
    src: run.j2
    dest: "{{ s6_log_directory }}/run"
    mode: "0755"

- name: Ensure log output directory exists
  ansible.builtin.file:
    path: "{{ s6_log_output_dir }}"
    state: directory
    mode: "0755"
