---
- name: Build Paperless-ngx
  include_role:
    name: nix_build
  vars:
    nix_build_attr: nixpkgs#paperless-ngx
    nix_build_out: "{{ paperless_ngx_package_path }}"
    
- name: Create s6 services
  include_role:
    name: s6_service
  vars:
    s6_service_name: "{{ service.name }}"
    s6_service_command: "{{ service.command }}"
    s6_service_user_name: "{{ paperless_ngx_user }}"
    s6_service_user_groups: "{{ paperless_ngx_user_groups }}"
    s6_service_env: { PAPERLESS_CONFIG_PATH: /etc/paperless.conf }
    s6_service_dependencies: [ redis ]
  loop: "{{ paperless_ngx_services }}"
  loop_control:
    loop_var: service

- name: Ensure Paperless-ngx directories exists
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ paperless_ngx_user }}"
    group: "{{ paperless_ngx_user }}"
  loop: "{{ paperless_ngx_dirs.values() | list }}"

- name: Create paperless.conf
  template:
    src: paperless.conf
    dest: /etc/paperless.conf
    mode: "0644"

