---
- name: Fetch Opengist tarball
  get_url:
    url: "{{ opengist_url }}"
    dest: "{{ opengist_tarball }}"
    checksum: "sha256:{{ opengist_sha256 }}"

- name: Extract tarball
  unarchive:
    src: "{{ opengist_tarball }}"
    dest: "/opt/opengist"
    remote_src: true
    creates: "/opt/opengist/opengist"
    extra_opts:
      - --strip-components=1

- name: Create s6 service
  include_role:
    name: s6_service
  vars:
    s6_service_name: opengist
    s6_service_command: "exec /opt/opengist/opengist --config /etc/opengist/config.yml start"
    s6_service_user_name: "{{ opengist_user }}"
    s6_service_user_group: "{{ opengist_group }}"
    s6_service_user_home: /var/lib/opengist

- name: Ensure Opengist directories exists
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ opengist_user }}"
    group: "{{ opengist_group }}"
  loop:
    - "/opt/opengist"
    - "/var/lib/opengist"
    - "/etc/opengist"

- name: Create config.yml
  template:
    src: config.yml.j2
    dest: /etc/opengist/config.yml
    mode: "0644"

