---
- name: Build restic rest-server
  command: /nix/var/nix/profiles/default/bin/nix build nixpkgs#restic-rest-server -o /opt/restic_rest_server
  args:
    creates: /opt/restic_rest_server

- name: Create s6 service
  include_role:
    name: s6_service
  vars:
    s6_service_name: restic_rest_server
    s6_service_command: |
      exec /opt/restic_rest_server/bin/rest-server \
        --listen "127.0.0.1:{{ restic_rest_server_port }}" \
        --log - \
        --path {{ restic_rest_server_data_dir }}
        --htpasswd-file /etc/restic_rest_server/.htpasswd
        --private-repos
    s6_service_user_name: "{{ restic_rest_server_user }}"

- name: Ensure restic rest-server config directory exists
  file:
    path: "/etc/restic_rest_server"
    state: directory
    owner: "{{ restic_rest_server_user }}"
    group: "{{ restic_rest_server_group }}"

- name: Add users to .htpasswd
  community.general.htpasswd:
    path: /etc/restic_rest_server/.htpasswd
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    hash_scheme: bcrypt
    owner: "{{ restic_rest_server_user }}"
    group: "{{ restic_rest_server_group }}"
    mode: "0640"
  loop: "{{ restic_rest_server_htpasswd_users }}"
  no_log: true

