#!/bin/execlineb -P
backtick -n SOCKET_DIR { dirname {{ redis_socket }} }

importas SOCKET_DIR SOCKET_DIR
foreground { mkdir -m 750 -p ${SOCKET_DIR} }
foreground { chown {{ redis_user }}:{{ redis_group }} ${SOCKET_DIR} }

export LANG c
export LC_ALL C

s6-setuidgid {{ redis_user }}
exec /opt/redis/bin/redis-server /etc/redis/redis.conf
