---
- name: Homelab configuration
  hosts: all
  become: true

  roles:
    - { role: base, tags: [base] }
    - { role: users, tags: [users] }
    - { role: s6, tags: [s6] }
    - { role: nix, tags: [nix] }

    # services
    - { role: glances, tags: [glances] }
    - { role: opengist, tags: [opengist] }
