---
- name: Homelab configuration
  hosts: all
  become: true

  roles:
    - { role: base, tags: [base] }
    - { role: users, tags: [users] }
    - { role: nix, tags: [nix] }

    # databases
    - { role: redis, tags: [redis, service] }

    # services
    - { role: glances, tags: [glances, service] }
    - { role: opengist, tags: [opengist, service] }
    - { role: paperless_ngx, tags: [paperless_ngx, service] }
    - { role: restic_rest_server, tags: [restic_rest_server, service] }

    # reverse proxies
    - { role: caddy, tags: [caddy, service] }
    - { role: cloudflared, tags: [cloudflared, service] }
