---
- name: Homelab configuration
  hosts: all
  become: true

  roles:
    - { role: base, tags: [base] }
    - { role: users, tags: [users] }
    - { role: nix, tags: [nix] }

    # services
    - { role: glances, tags: [glances] }
    - { role: opengist, tags: [opengist] }

    # reverse proxies
    - { role: caddy, tags: [caddy] }
    - { role: cloudflared, tags: [cloudflared] }
