#!/bin/execlineb -P
export PAPERLESS_CONFIG_PATH /etc/paperless.conf
foreground { s6-svwait -u /etc/services.d/redis }

s6-setuidgid {{ paperless_ngx_user }}
/opt/paperless/bin/celery --app paperless beat --loglevel INFO
