---
- name: Build cloudflared
  command: /nix/var/nix/profiles/default/bin/nix build nixpkgs#cloudflared -o /opt/cloudflared
  args:
    creates: /opt/cloudflared

- name: Create s6 service
  include_role:
    name: s6_service
  vars:
    s6_service_name: cloudflared
    s6_service_command: "exec /opt/cloudflared/bin/cloudflared tunnel run"
    s6_service_user_name: "{{ cloudflared_user }}"

- name: Create cloudflared directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ cloudflared_user }}"
    group: "{{ cloudflared_group }}"
  loop:
    - "/etc/cloudflared"

- name: Copy cloudflared files
  copy:
    src: "{{ item }}"
    dest: /etc/cloudflared/
    mode: "0644"
  loop:
    - "{{ cloudflared_tunnel }}.json"
    - cert.pem

- name: Create config.yml
  template:
    src: config.yml
    dest: /etc/cloudflared
    mode: "0644"
  
