---
- name: Ensure cloudflared group exists
  group:
    name: "{{ cloudflared_group }}"

- name: Ensure cloudflared user exists
  user:
    name: "{{ cloudflared_user }}"
    group: "{{ cloudflared_group }}"
    shell: /usr/sbin/nologin
    home: /var/lib/cloudflared

- name: Create cloudflared directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ cloudflared_user }}"
    group: "{{ cloudflared_group }}"
  loop:
    - "/etc/cloudflared"

- name: Build cloudflared
  command: /nix/var/nix/profiles/default/bin/nix build nixpkgs#cloudflared -o /opt/cloudflared
  args:
    creates: /opt/cloudflared

- name: Copy cloudflared files
  copy:
    src: "{{ item }}"
    dest: /etc/cloudflared/
    mode: "0644"
  loop:
    - "{{ cloudflared_tunnel }}.json"
    - cert.pem

- name: Create config.yml
  template:
    src: config.yml
    dest: /etc/cloudflared
    mode: "0644"
  
- name: Configure log service
  include_role:
    name: s6_log
  vars:
    s6_log_service_name: cloudflared

- name: Create s6 run script
  template:
    src: run.j2
    dest: /etc/services.d/cloudflared/run
    mode: "0755"
